.title{
    background-color: rgb(96, 215, 236);
    text-align: center;
    color: white;
}
.sysG{
    position: absolute;
    width: 200px;
    margin-top: 5%;
}
.tcp{
    position: absolute;
    width: 200px;
    margin-top: 15%;
}
.arb{
    position: absolute;
    width: 200px;
    margin-top: 25%;
}
.sysBtn{
    width: 200px;
    height: 50px;
    background-color: rgb(96, 215, 236);
    color: white;
    cursor: pointer;
}
.tcpBtn{
    width: 200px;
    height: 50px;
    background-color: rgb(96, 215, 236);
    color: white;
    cursor: pointer;
}
.arbBtn{
    width: 200px;
    height: 50px;
    background-color: rgb(96, 215, 236);
    color: white;
    cursor: pointer;
}